@model IEnumerable<MasterDetailsEVidence.Models.Client>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>

@foreach (var item in Model)
{
    <div class="card">
        <div class="card-header d-flex justify-content-between">
            <div>
                <img src="@item.Picture" width="32" class="mr-2" />
                Name: @item.ClientName
            </div>
            <div>
                <a class="btn btn-primary btn-sm" href="@Url.Action("Edit", "Clients", new { id=item.ClientId})">Edit</a>
                <a  class="btn btn-danger btn-sm" href="@Url.Action("Delete", "Clients", new { id=item.ClientId})">Delete</a>
            </div>
        </div>
        <div class="card-body">
            <table class="table table-bordered table-striped table-sm">
                <thead>
                    <tr>
                        <th>SpotId</th>
                        <th>SpotName</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var singleEntry in item.BookingEntries)
                    {
                        <tr>
                            <td>@singleEntry.SpotId</td>
                            <td>@singleEntry.Spot.SpotName</td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
}